/*
This style sheet was created from F:\Labs\Xcomic\templates\admin\testPages\form.html
*/

BODY, P, TD {  
	background-color: #003366;  
	color: White;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

A IMG { 
	border: none; 
}

A:LINK {
	color: White;
}

A:VISITED {
	color: #CCCCCC;
}

/* note that A:HOVER isn't supported by all browsers */
A:HOVER { 
	color: #87CEEB; 
}

/*
DIV {  }

EM {  }

H1 {  }

LI {  }

UL {  }
*/

/* classes */
.menu {  
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;

}

.menu-link {  
	margin-left: 0px;
	padding: 2px 15px 5px;
	border: 1px solid White;
	list-style: none;
	display: inline;
}

.section-title {
	padding-left: 15px;
}

.section-title h2 {
	font-size: large;
}

.sub-section-title {
	font-size: large;
}

.section-body {
	padding-left: 25px;
}

/* For showusers */
.user-list {
	
}

.each-user {
	border: 1px solid #DCDCDC;
}

.list-username {
	font-weight: bold;
	width: 200px;
	border: 1px solid #DCDCDC;
	padding-left: 10px;
	padding-right: 10px;
}

.list-userfunc {
	border: 1px solid #DCDCDC;
	padding-left: 15px;
	padding-right: 15px;
}


/* unique IDs */
#content {  
	border: 1px solid White;
}

#footer {
	text-align: right;
}

#header {
	/*border: 1px solid White;*/
	padding-left: 10px;
}

#header h1 {
	font-size: xx-large;
	margin-bottom: 0px;
}

#header p {
	margin-top: 0px;
	font-size: small;
}

#navigation {  
	/*border: 1px solid White;*/
	padding-left: 10px;
}

#page-container {  }

