<?php

//This is the provided sample Xcomic configuation file. Please run admin/install.php to
//install the script instead! 
//$Id$

$dbms = 'mysql'; //Database type

$dbHost = 'localhost'; //Database host
$dbName = 'xcomicdb'; //Database name
$dbUser = 'xcomicuser'; //Database user
$dbPasswd = 'password'; //Database password

$table_prefix = 'xcomic_'; //Prefix for creating the tables

define('XCOMIC_INSTALLED', true);

define('USE_XCOMIC_PEAR', false); // You should always leave this false unless you know what you're doing
?>
